@import "mocha.css";

* {
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

#waybar { background: transparent; }

.modules-left { padding-top: 5px; }
.modules-center { padding-top: 5px; }
.modules-right {
    padding-top: 5px;
    padding-right: 10px;
}

#workspaces { margin-right: 10px; }
#workspaces button {
    padding-right: 6px;
    color: @lavender;
}
#workspaces button.active { color: @sky; }
#workspaces button:hover {
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    transition: none;
    text-shadow: none;
}
#workspaces button:hover .workspace-label { color: @mauve; }

#window,
#clock { color: @text; }

#cpu,
#memory,
#disk,
#network,
#wireplumber { margin: 0 5px 0 10px; }

#cpu { color: @mauve; }
#memory { color: @red; }
#disk { color: @peach; }
#network { color: @green; }
#wireplumber { color: @sapphire; }
